<h1>New Message</h1>

<%= turbo_frame_tag "new_message", target: "_top" do %>
<small> Sending as <%= session[:name] %><small> <a href="<%= room_path(@room) %>?name=">Change</a>
  <%= form_with(model: [ @message.room, @message ],
        data: { controller: "reset_form", action: "turbo:submit-end->reset_form#reset" }) do |form| %>
    <%= form.hidden_field :name, :value => session[:name] %>
    <div class="field">
      <%= form.text_field :content %>
      <%= form.submit "Send" %>
    </div>
  <% end %>
<% end %>

<%= link_to 'Back', @message.room %>
